*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}
.page-item .a{
  color: black;
}

.blanco{
  color: white;
}
.fuente{
  font-size: 15px;
}

h1 {
	color: #ccc;
	text-align: center;
}

a {
  color: #ccc;
  text-decoration: none;
  outline: none;
}

.centro{
  text-align: center;
}
/*Fun begins*/
.tab_container {
	width: 95%;
	margin: 0 auto;
	padding-top: 70px;
	position: relative;
}

section {
  clear: both;
  padding-top: 10px;
  display: none;
}
.box{
  clear: both;
  padding-top: 10px;
  display: none;
}

label {
  font-weight: 700;
  font-size: 18px;
  display: block;
  float: left;
  width: 20%;
  padding: 1.5em;
  color: #757575;
  cursor: pointer;
  text-decoration: none;
  text-align: center;

}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
  display: block;
  padding: 20px;
  ;
  color: #999;
  border-bottom: 2px solid #f0f0f0;
}

#page-wrapper{
  background: -webkit-linear-gradient(right, #0072ff, #00c6ff);
}




.blanco{
  color: white;
}


.tab_container .tab-content p,
.tab_container .tab-content h3 {
  -webkit-animation: fadeInScale 0.7s ease-in-out;
  -moz-animation: fadeInScale 0.7s ease-in-out;
  animation: fadeInScale 0.7s ease-in-out;
}
.tab_container .tab-content h3  {
  text-align: center;
}

.tab_container [id^="tab1"]:checked + label {
  background: #fff;
  box-shadow: inset 0 3px #0CE;
  background: rgba(0,0,0,0.5);
  color: white;
  border-radius: 5px;
}


.tab_container [id^="tab2"]:checked + label {
  background: #fff;
  box-shadow: inset 0 3px #1ab394;
  background: rgba(0,0,0,0.5);
  color: white;
  border-radius: 5px;
}

.tab_container [id^="tab4"]:checked + label {
  background: #fff;
  box-shadow: inset 0 3px #ed5565;
  background: rgba(0,0,0,0.5);
  color: white;
  border-radius: 5px;
}

}
.tab_container [id^="tab5"]:checked + label {
  background: #fff;
  box-shadow: inset 0 3px #ed5565;
  background: rgba(0,0,0,0.5);
  color: white;
  border-radius: 5px;
}

.tab_container [id^="tab3"]:checked + label {
  background: #fff;
  box-shadow: inset 0 3px #f8ac59;
  background: rgba(0,0,0,0.5);
  color: white;
  border-radius: 5px;

}

.tab_container [id^="tab1"]:checked + label .fa {
  color: #0CE;

}

.tab_container [id^="tab2"]:checked + label .fa {
  color: #1ab394;
}

.tab_container [id^="tab3"]:checked + label .fa {
  color: #f8ac59;
}

.tab_container [id^="tab4"]:checked + label .fa {
  color: #ed5565;
}




label .fa {
  font-size: 1.3em;
  margin: 0 0.4em 0 0;
}

/*Media query*/
@media only screen and (max-width: 930px) {
  label span {
    font-size: 14px;
  }
  label .fa {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  label span {
    display: none;
  }

  label .fa {
    font-size: 16px;
  }

  .tab_container {
    width: 98%;
  }
}

/*Content Animation*/
@keyframes fadeInScale {
  0% {
  	transform: scale(0.9);
  	opacity: 0;
  }
  
  100% {
  	transform: scale(1);
  	opacity: 1;
  }
}

.contact-form{
  background: #fff;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 100%;
}
.contact-form .form-control{
  border-radius:1rem;
}
.contact-image{
  text-align: center;
}
.contact-image img{
 
  width: 11%;
  margin-top: -3%;
}
.contact-form form{
  padding: 14%;
}
.contact-form form .row{
  margin-bottom: -7%;
}
.contact-form h3{
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: #0062cc;
}



.login-box {
  width: 320px;
  height: 420px;
  background: rgba(0,0,0,0.5);
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  border-radius: 12px;
}

.login-box .avatar {
  width: 100px;
  height: 100px;

  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.login-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;

}

.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type="text"], .login-box input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;

  outline: none;
  height: 40px;
 
  font-size: 16px;
}



.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.login-box a:hover {
  color: #fff;
}

.fondo {

  background-image: url("../logosEntel/back.PNG ") ;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}


#drop{
    background-color: #2E3134;
    padding: 40px 50px;
    margin-bottom: 30px;
    border: 20px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    border-image: url('../img/border-image.png') 25 repeat;
    text-align: center;
    text-transform: uppercase;
    width: 300px;
    font-size:16px;
    font-size:16px;
    font-weight:bold;
    color:#7f858a;
}

#drop a{
    background-color:#007a96;
    padding:12px 26px;
    color:#fff;
    font-size:14px;
    border-radius:2px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;
    line-height:1;
}

#drop a:hover{
    background-color:#0986a3;
}

#drop input{
    display:none;
    margin-left: -10px;
}


.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
        -ms-transform: scale(.3);
        transform: scale(.3);
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
    }

    70% {
        -webkit-transform: scale(.9);
        -ms-transform: scale(.9);
        transform: scale(.9);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

.bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}
